
.container{
    max-width: 1000px;
    
}

.color{
    background-color: #083B4C;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    
}

#grid .square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 10px;

    border: solid 1px black;


}

.title{
    font-size: 100px;
}

